div(id=sort_id class=sort_class + ' sortFunction mx-1 py-1 px-4 rounded-full flex overflow-hidden cursor-move select-none bg-gray-600 border-2 border-solid')
  div(class='px-1') #{sort_name}
    
  div(class='sortIconContainer flex items-center cursor-pointer')
    - var sortIconDownVisible = (sort_isActive && sort_direction == 'desc') ? '' : 'hidden';
    iconify-icon(data-height='20' class=sortIconDownVisible + ' sortIconDown' data-icon='mdi:menu-down')
    - var sortIconUpVisible = (sort_isActive && sort_direction == 'asc') ? '' : 'hidden';
    iconify-icon(data-height='20' class=[sortIconUpVisible + ' sortIconUp'] data-icon='mdi:menu-up')
    - var sortIconNoneVisible = (!sort_isActive) ? '' : 'hidden';
    iconify-icon(data-height='20' class=[sortIconNoneVisible + ' sortIconNone'] data-icon='mdi:menu-swap')
    
