#sortFunctionParameters.hidden.w-full.p-2.flex.flex-col
  - var val = 30; 
  - var min = 0;
  - var max = 100;
  - var id = 'sortFunctionSlider';
  - var label = 'Différence relative :';
  include slider.pug
  
  #sortFunctionDistributionBarChart.w-full
